<h1> show.html.erb </h1>
<div class="profile card">
  <table class="user card">
    <tr>
      <td>
        <img id='card-image' src="http://www.shawnee.edu/_resources/images/profile-placeholder.png">
      </td>
      <td>
 <p>            Name: John Smith
          </p>
          <li>
            Job Title: Human Resource Disposer
          </li>
        </ul>
      </td>
    </tr>
  </table>
</div>
